

<% Difference.where(:dataextraction1 => 1).each do |diff| %>
<%= diff.concepts_diff %>	
	<script>
	$( document ).ready(function() {
		var c = document.getElementById("myCanvas");
		var ctx = c.getContext("2d");
		ctx.beginPath();
		ctx.arc('<%= diff.concepts_diff %>'*20, 600-'<%= diff.entities_diff %>'*20, 4,0,2*Math.PI); //(left,top,size,0,2*Math.PI);
		ctx.fillStyle = "#3370d4"; //blue		
		ctx.fillText("diff <%= diff.concepts_diff %>, <%= diff.entities_diff %>",'<%= diff.concepts_diff %>'*20+10, 600-'<%= diff.entities_diff %>'*20);

		ctx.fillText('id <%= diff.dataextraction2 %>','<%= diff.concepts_diff %>'*20+10,600-'<%= diff.entities_diff %>'*20+15);

		ctx.stroke();
	});



	</script>
<% end %>

<% Difference.where(:dataextraction1 => 1).each do |diff| %>
<%= diff.concepts_diff %>	
	<script>
	$( document ).ready(function() {

	//http://www.w3schools.com/jquery/css_position.asp

	    var x = $("#chart").position();
	    //alert("Top: " + x.top + " Left: " + x.left);
	    topy = x.top + 600 - '<%= diff.entities_diff %>'*20
	    lefty = x.left +'<%= diff.concepts_diff %>'*20

	    newcircle = $("<a href='<%= Dataextract.where(:id => diff.dataextraction2).first.url %>' target='_blank'><div class='circle'><%= Dataextract.where(:id => diff.dataextraction2).first.id %><div class='hidden-info'>HIDDEN DATA</div></div></a>");
	    manipulate = $("#chart").append(newcircle);


	    //var newcircle_position = $(".circle").position();
	    //alert(newcircle_position.top + newcircle_position.left);

	    $(newcircle).css({top: topy, left: lefty, position:'absolute'});





	});

	</script>

	<script>
	$( document ).ready(function() {
		$( ".circle" ).mouseover(function() {
		  $( this  ).children(".hidden-info").toggle();
		});
	});
	</script>




<% end %>			





<% Difference.all.each do |diff| %>
	<p><%= diff.id %>
	<%= diff.dataextraction1 %>
	<%= diff.dataextraction2 %>
	<%= number_with_precision(diff.concepts_diff, :precision => 2) %>
	<%= number_with_precision(diff.entities_diff, :precision => 2) %></p>


<% end %>		

<% Dataextract.all.each do |extract| %>
	<p><%= extract.id %>. <%= extract.url %></p>
<% end %>


<div id="chart">
</div>

<canvas id="myCanvas" width="700" height="600" style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.</canvas>
<p>Concept words</p>




<p>Concept words</p>