<h1>DIVERSITY FINDER</h1>



<div class="instructions-text">
	<h2>The magic part</h2>
	<p>This app uses IBM's Alchemy to identify concept words and entity keywords. Submitting links will not work unless you have a Alchemy API which is free to get from IBM. If you fork this app you can insert your API key into this folder /alchemyapi_ruby/api_key.text
	</p>
	<p>Get your free IBM Alchemy API key <a href="http://www.alchemyapi.com" target="_blank">here</a></p>

	<h2>Instructions</h2>
	<p>Submit URLs to news articles and click "Run comparison calculation" and the chart will show you how different/similar the content of all submitted articles are from the base article's content you choose to compare to. The base article is in the bottom left.</p
	<p>Each red dot is an article and the further away it is on the x-axis the more different the concept words in the article are and same for y-axis, but for entities words. </p>

	<p>If you want change the base article to compare to check in the article list below and click "Re-base"</p>

	<h2>Why is this useful?</h2>
	<p>You mean except being a nice chart? You can quickly see if articles are different from the one your reading or not. If it's more of the same maybe that's interesting to you or maybe it's boring and you want some more different.
		You can use this as a start to get data from Alchemy API and then use the calculations here to do a cluster analysis into topics and for selecting diverse content in articles to read.
	</p>
</div>


<%= form_tag({controller: "dataextracts", action: "new"}, method: "get") do %>
  <%= text_field :url , params[:url]  %>
	<%= submit_tag 'Submit url' %>
<% end %>

<%= button_to "Run comparison calculation", :action => "compare" %>

<div class="chart-partial">
	<%= render :partial => "compare" %>
</div>

<h3>Article list</h3>


<%= form_tag({controller: "dataextracts", action: "rebase"},:remote => true, method: "get") do %>
	<% @dataextracts.each do |dataextract| %>
		<%= dataextract.id %>
		<%= radio_button("dataextract", "dataextract", dataextract.id) %>
		<%= dataextract.url %><br>
	<% end %>
	<%= submit_tag 'Re-base' %>
<% end %>

<p>Made by Erik Wisalchai Jonsson</p>
